<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropost2.content %>
</p>

<p>
  <b>User:</b>
  <%= @micropost2.user_id %>
</p>


<%= link_to 'Edit', edit_micropost2_path(@micropost2) %> |
<%= link_to 'Back', micropost2s_path %>
